@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #000000;
  --text: #FFCF01;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
} */

.bg {
  display: flex;
  flex-direction: column;
  background-image: url(https://www.depauw.edu/dt/css/images/pattern.jpg);
  height: 100%;
  background-repeat: repeat;
  font-family: "League Spartan", Helvetica, sans-serif;
}

.header {
  background-image: url(https://www.depauw.edu/images/title-headers/default-top.jpg);
  color: var(--background);
  height: 100;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subheader {
  color: var(--text);
  font-size: 16px;
  display: flex;
}

.separator {
  margin: 0 8;
  color: var(--background);
}

.searchbar {
  display: flex;
  width: fit-content;
  gap: 10px;
  padding: 5px 20px;
  justify-content: center;
  background-color: var(--foreground);
  color: var(--background);
  align-self: center;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--background);
  padding: 0 8px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--foreground);
  padding: 2 8;
}

.search-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  transition: all 0.2s;
}

a:hover {
  color: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
}
