@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
  --text: #FFCF01;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

.bg {
  background-image: url(https://www.depauw.edu/dt/css/images/pattern.jpg);
  height: 100vh;
  background-repeat: repeat;
  font-family: "League Spartan", Helvetica, sans-serif;
}

.header {
  background-image: url(https://www.depauw.edu/images/title-headers/default-top.jpg);
  color: var(--text);
  height: 100;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  color: var(--foreground);
  background: var(--background);
}
